<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'staticpages/partials/head.html' %}
</head>

<body>
    {% include 'staticpages/partials/header.html' %}

    <main class="section">
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

        <aside>
            <h2>Informações Adicionais</h2>
            <p>Este site (dinâmico!) foi feito para PMR3304.</p>
        </aside>
    </main>

    {% include 'staticpages/partials/footer.html' %}
</body>

</html>
